.colorValuesWrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spaceWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  border: 2px solid #7a7a7a;
}

.componentWrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 25px;
  font-family: monospace;
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #7a7a7a;
}

.componentWrapper:first-of-type {
  border-top: none;
}

.componentWrapper:last-of-type {
  border-bottom: none;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #7a7a7a;
}

.section:last-of-type {
  border-right: none;
}

.symbol {
  font-family: monospace;
  font-size: 14px;
  aspect-ratio: 1 / 1;
}

.sliderSection {
  position: relative;
  flex-grow: 1;
}

.sliderWrapper {
  width: 100%;
  height: 100%;
}

.sliderBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #aaa;
  pointer-events: none;
}

.buttonWrapper {
  aspect-ratio: 1 / 1;
}

.button {
  height: 100%;
  width: 100%;
  padding: 0;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
}

.button:hover {
  background-color: #ddd;
}

.button:active {
  background-color: #bbb;
}

.valueWrapper {
  aspect-ratio: 1.5 / 1;
  min-width: 40px;
}

.value {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  padding: 0 5px;
  font-family: monospace;
  font-size: 14px;
  text-align: right;
}

.hexEditor {
  display: flex;
  align-items: stretch;
  font-family: monospace;
  border: 2px solid #7a7a7a;
  height: 25px;
  max-width: 150px;
}

.hexLabel {
  font-family: monospace;
  font-size: 14px;
  padding: 0 10px;
}

.hexValueWrapper {
  flex: 1;
}

.hexValueWrapper input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  padding: 0 5px;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
}
