.colorHistory {
  height: 74px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  padding: 10px 0px 0px;

  /* Improve scrolling experience */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  scrollbar-width: thin; /* For Firefox */
}

.historyColor {
  flex: 0 0 auto;
  display: inline-block;
  height: 50px;
  width: 25px;
  margin: 5px;
  border: 1px solid #7a7a7a;
  background-color: transparent;
  cursor: pointer;
  transition:
    box-shadow 150ms ease-out,
    transform 150ms ease-out;
  box-shadow:
    rgba(60, 64, 67, 0.25) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.1) 0px 1px 3px 0px;
}

.historyColor:first-of-type {
  margin-left: 15px;
}

.historyColor:last-of-type {
  margin-right: 15px;
}

.historyColor:hover {
  transform: translateY(-0.5px);
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 2px 6px 0px,
    rgba(60, 64, 67, 0.15) 0px 3px 8px 2px;
}

.historyColor:active {
  transform: translateY(0.5px);
  box-shadow:
    rgba(60, 64, 67, 0.2) 0px 0px 1px 0px,
    inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition-duration: 50ms;
}
