.container {
  padding: 40px;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: 50px 1fr 25px;
  grid-template-areas:
    ". preview ."
    "leftGrip square rightGrip"
    ". bottomGrip ."
    ". bar .";
}
.pickerSquare {
  grid-area: square;
  position: relative;
  aspect-ratio: 1/1;
  border: 2px solid #7a7a7a;
}

.pickerBar {
  grid-area: bar;
  position: relative;
  height: 25px;
  margin-top: 15px;
  border: 2px solid #7a7a7a;
}

.verticalGripLeft {
  grid-area: leftGrip;
}

.verticalGripRight {
  grid-area: rightGrip;
}

.horizontalGrip {
  grid-area: bottomGrip;
}

/* Color Square */
.colorSquareWrapper {
  height: 100%;
  width: 100%;
}

.colorSquare {
  cursor: crosshair;
}

/* Color Bar */
.colorBarWrapper {
  height: 100%;
  width: 100%;
}

.colorBar {
  cursor: crosshair;
}

/* Crosshairs */
.crosshairWrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.crosshair {
  position: absolute;
  transition:
    background-color 400ms,
    box-shadow 400ms;
  pointer-events: none;
}

.crossEye {
  position: absolute;
  width: 9px;
  height: 9px;
  z-index: 2;
  border-radius: 9px;
  border-width: 2px;
  border-style: solid;
  transition:
    border-color 350ms,
    box-shadow 400ms;
  pointer-events: none;
}

/* Square Grips */
.gripSlider {
  position: relative;
  width: 100%;
  height: 100%;
}

.grip {
  position: absolute;
  width: 0;
  height: 0;
}

/* Preview */

.preview {
  grid-area: preview;
  margin-bottom: 15px;
  border: 2px solid #7a7a7a;
}
