.appContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.leftMobileMenu {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  background: white;
  overflow-x: hidden;
  transition: 0.5s ease-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.leftMenuWrapper {
  position: absolute;
  right: 0;
}

.leftMobileMenu .topNav {
  display: flex;
}

.leftMenuWrapper .closeButton {
  margin: 10px 10px 10px auto;
}

.rightMobileMenu {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  background: white;
  overflow-x: hidden;
  transition: 0.5s ease-out;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.rightMenuWrapper {
  position: absolute;
  left: 0;
}

/* Large - Landscape Tablets / Desktops */
/* Medium - Portrait Tablets */
/* Horizontal layout, vertically scrolling picker and palette content */
@media (min-width: 992px),
  (min-width: 568px) and (max-width: 991px) and (orientation: portrait) {
  .appContainer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .mobileContent {
    display: none;
  }

  .mainContent {
    display: flex;
  }

  .alphaZone {
    flex: 1;
  }

  .betaZone {
    flex: 1;
  }

  .colorPickerContainer {
  }

  .colorValuesContainer {
  }

  .paletteEditorContainer {
  }

  .paletteLibraryContainer {
  }
}

/* Medium - Landscape Phones */
/* Horizontal layout, side menu, vertical tabbed picker */
@media (min-width: 568px) and (max-width: 991px) and (orientation: landscape) {
  .appContainer {
  }

  .mainContent,
  .mobileTopNav {
    display: none;
  }

  .mobileContent {
    display: flex;
  }

  .mobileLeftNav {
  }

  .mobileRightNav {
  }

  .mobileAlphaZone {
    flex: 1;
  }

  .mobileBetaZone {
    flex: 1;
  }

  .leftMobileMenu {
  }

  .leftMobileMenu.open {
    width: 80vh;
  }

  .leftMenuWrapper {
    width: 80vh;
  }

  .leftMobileMenu .topNav {
  }

  .leftMenuWrapper .closeButton {
  }

  .rightMobileMenu {
  }

  .rightMobileMenu.open {
    width: 80vh;
  }

  .rightMenuWrapper {
    width: 80vh;
  }

  .rightMobileMenu .closeButton {
    margin: 10px;
  }

  .tabbedContainer {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .tabbedContainer .tab {
    height: 100vh;
    scroll-snap-align: start;
  }

  .colorPickerContainer {
  }

  .colorValuesContainer {
  }

  .paletteEditorContainer {
  }

  .paletteLibraryContainer {
  }
}

/* Small - Portrait Phones*/
/* Vertical layout, side menu, horizontal tabbed picker */
@media (max-width: 567px) {
  .appContainer {
  }

  .mainContent,
  .mobileRightNav,
  .mobileLeftNav {
    display: none;
  }

  .mobileContent {
  }

  .mobileTopNav {
    display: flex;
  }

  .leftMenuButton {
    margin-right: auto;
  }

  .rightMenuButton {
    margin-left: auto;
  }

  .mobileAlphaZone {
  }

  .mobileBetaZone {
  }

  .leftMobileMenu {
  }

  .leftMobileMenu.open {
    width: 80%;
  }

  .leftMenuWrapper {
    width: 80vw;
  }

  .leftMobileMenu .topNav {
  }

  .leftMenuWrapper .closeButton {
  }

  .rightMobileMenu {
  }

  .rightMobileMenu.open {
    width: 80%;
  }

  .rightMenuWrapper {
    width: 80vw;
  }

  .rightMobileMenu .closeButton {
    margin: 10px;
  }

  .tabbedContainer {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .tabbedContainer .tab {
    min-width: 100vw;
    scroll-snap-align: start;
  }

  .colorPickerContainer {
  }

  .colorValuesContainer {
  }

  .paletteEditorContainer {
  }

  .paletteLibraryContainer {
  }
}
