.appWrapper {
  background-color: white;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 40px #7a7a7a;
  border-left: 2px solid #7a7a7a;
  border-right: 2px solid #7a7a7a;
}

.appHeader {
  height: 40px;
  display: flex;
  align-items: baseline;
  border-bottom: 2px solid #7a7a7a;
  padding: 20px 30px 12px;
}

.appHeader .title {
  /* Typography */
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 1;
}

.appHeader .subtitle {
  margin-left: 1.5rem;
  font-family: "Inter", "Roboto", sans-serif;
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.08rem;
  line-height: 1;
  color: #7a7a7a;
}

.mobileContent,
.mainContent,
.tabWrapper,
.tabWrapper .tab {
  height: 100%;
}

.tabWrapper {
  /* hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.appWrapper {
}

.mobileContent {
  display: none;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.firstZone {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #7a7a7a;
}

.secondZone {
  padding: 40px;
  color: #555;
  font-style: italic;
}

.colorPickerWrapper {
  border-bottom: 2px solid #7a7a7a;
}

.colorValuesWrapper {
}

.paletteEditorWrapper {
}

.paletteLibraryWrapper {
}

/* Large */
@media (min-width: 992px),
  (min-width: 568px) and (max-width: 991px) and (orientation: portrait) {
}

/* Landscape Phone */
@media (min-width: 568px) and (max-width: 991px) and (orientation: landscape) {
}

/* Portrait Phone */
@media (max-width: 567px) {
}
